.navbar-default {
	font-size: 16px;
	border-bottom: 1px solid #d9d9d9;
	position: absolute
}

@media (max-width:767px) {
	.navbar-default {
		font-weight: 300
	}
	.navbar-nav>li {
		border-bottom: 1px solid #CFCFCF
	}
	.navbar-nav>li:last-child {
		border-bottom: none
	}
	.navbar-toggle {
		display: block;
		position: absolute;
		height: 71px;
		width: 50px;
		right: 0;
		-webkit-tap-highlight-color: transparent
	}
	.navbar-toggle .icon-bar {
		position: absolute;
		left: 12px;
		-webkit-transform: translateZ(0) rotate(0);
		-ms-transform: translateZ(0) rotate(0);
		transform: translateZ(0) rotate(0);
		fill: #fff
	}
	.navbar-toggle.collapsed .icon-bar.first {
		-webkit-transform: translateZ(0) rotate(0);
		-ms-transform: translateZ(0) rotate(0);
		transform: translateZ(0) rotate(0);
		top: 30px
	}
	.navbar-toggle.collapsed .icon-bar.last {
		-webkit-transform: translateZ(0) rotate(0);
		-ms-transform: translateZ(0) rotate(0);
		transform: translateZ(0) rotate(0);
		margin-top: 8px!important;
		top: 34px
	}
	.navbar-toggle .icon-bar {
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: -webkit-transform .2s;
		transition: transform .2s;
		margin: 0
	}
	.navbar-toggle .icon-bar.first {
		-webkit-transform: translateZ(0) rotate(45deg);
		-ms-transform: translateZ(0) rotate(45deg);
		transform: translateZ(0) rotate(45deg)
	}
	.navbar-toggle .icon-bar.last {
		-webkit-transform: translateZ(0) rotate(-45deg);
		-ms-transform: translateZ(0) rotate(-45deg);
		transform: translateZ(0) rotate(-45deg)
	}
	.navbar-toggle .icon-bar+.icon-bar {
		margin-top: 0
	}
	.navbar-default .navbar-brand {
		margin-left: 15px;
		width: 79px;
		height: 37px
	}
	.dropdown>a:after {
		content: "+";
		float: right;
		font-size: 23px;
		font-weight: 300;
		line-height: .8;
		-webkit-transform: rotate(0) scale(.9);
		-ms-transform: rotate(0) scale(.9);
		transform: rotate(0) scale(.9);
		-webkit-transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center
	}
	.dropdown.open>a:after {
		-webkit-transform: rotate(45deg) scale(.9);
		-ms-transform: rotate(45deg) scale(.9);
		transform: rotate(45deg) scale(.9)
	}
	.dropdown ul {
		max-height: 0;
		overflow: hidden;
		padding: 0;
		-webkit-transition: all 110ms ease-in-out;
		-moz-transition: all 110ms ease-in-out;
		-o-transition: all 110ms ease-in-out;
		-ms-transition: all 110ms ease-in-out;
		transition: all 110ms ease-in-out
	}
	.dropdown ul li {
		-webkit-transform: translateY(-120px);
		-ms-transform: translateY(-120px);
		transform: translateY(-120px);
		opacity: 0;
		-webkit-transition: opacity .3s ease-in, -webkit-transform .3s ease-out;
		transition: opacity .3s ease-in, transform .3s ease-out
	}
	.dropdown.open ul {
		max-height: 100%
	}
	.dropdown.open ul li {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
	.dropdown.open ul li a {
		padding: 10px 15px 10px 25px
	}
	.dropdown.open>a {
		font-weight: 400
	}
	#main_footer {
		width: auto
	}
	#main_header .main_navigation {
		display: none
	}
}

@media (min-width:768px) {
	.nav>li:hover>ul {
		display: block;
		visibility: visible;
		padding: 0
	}
	.navbar-default .nav>li>a {
		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
		border: 1px solid transparent;
		-khtml-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px
	}
	.navbar-default .nav>li.active>a,
	.navbar-default .nav>li.active>a:focus,
	.navbar-default .nav>li:hover>a {
		border-color: #ccc
	}
	.navbar-default .nav>li.dropdown>a {
		padding-right: 30px
	}
	.navbar-default .nav>li.dropdown:hover>a {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0
	}
	.navbar-default .nav>li.dropdown>a:after {
		content: "";
		position: absolute;
		font-size: 23px;
		line-height: .8;
		right: 12px;
		top: 18px;
		width: 8px;
		height: 4px;
		background-image: url(../../images/arrow.png);
		-webkit-transform: rotate(0) scale(.9);
		-ms-transform: rotate(0) scale(.9);
		transform: rotate(0) scale(.9);
		-webkit-transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center
	}
	.navbar-default .nav>li.dropdown:hover>a:after {
		-webkit-transform: rotate(180deg) scale(.9);
		-ms-transform: rotate(180deg) scale(.9);
		transform: rotate(180deg) scale(.9)
	}
	.navbar-default .dropdown-menu>li {
		border-bottom: 1px solid #CFCFCF
	}
	.navbar-default .dropdown-menu>li:last-child {
		border-bottom: none
	}
	.navbar-default .dropdown-menu>li>a {
		padding: 12px 15px;
		color: #08C
	}
}

.lead-bar {
	background-color: #FFF;
	background-color: rgba(255, 255, 255, .96);
	opacity: 0;
	overflow: hidden;
	z-index: 15;
	transition: all .9s ease-out;
	height: 70px;
	position: absolute;
	top: -70px;
	right: 0;
	left: 0
}

.lead-bar,
.lead-bar.display {
	-webkit-transition: all .9s ease-out;
	-moz-transition: all .9s ease-out;
	-ms-transition: all .9s ease-out;
	-o-transition: all .9s ease-out
}

.lead-bar.display {
	top: 0;
	position: fixed;
	opacity: 1;
	padding: 15px;
	border-bottom: 1px solid #d6d6d6;
	transition: all .9s ease-out
}

.lead-bar.display .lead-copy {
	max-width: 980px;
	margin: auto
}

.lead-bar .lead-copy p {
	padding: 4px 0;
	margin-bottom: 0;
	float: left
}

.lead-bar .lead-copy .quote {
	border: 1px solid #0D9DE5;
	background-color: #0D9DE5;
	color: #FFF;
	letter-spacing: .2px;
	letter-spacing: .6px;
	text-transform: uppercase;
	font-size: 15px;
	background-color: rgba(13, 157, 229, .6);
	float: right;
	padding: 8px 15px;
	border-radius: 5px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.lead-bar.display .lead-copy .quote:hover {
	background-color: #FFF;
	border-color: #0D9DE5;
	color: #0D9DE5
}

@media (min-width:768px) and (max-width:991px) {
	.lead-bar {
		height: auto
	}
	.lead-bar .lead-copy .quote,
	.lead-bar .lead-copy p {
		float: none
	}
}

@media (max-width:767px) {
	.lead-bar {
		display: none
	}
}