* {
	margin: 0;
	padding: 0;
}

html {
	font-family: '宋体', arial, georgia, verdana, helvetica, sans-serif, sans-serif;
	font-size: 20px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}

body {
	margin: 0
}

nav {
	display: block
}

a {
	background-color: transparent;
	text-decoration: none;
}

ul {
	list-style-image: none;
	list-style-type: none
}